<% layout("layouts/boilerplate") -%>
<body>
  <div class="row mt-1">
    <div class="col-8 offset-2">
      <h3>Edit Listings</h3>
      <form
        method="post"
        action="/listings/<%=listing._id%>?_method=PUT"
        class="mt-3 needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id="title"
            value="<%=listing.title%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks Good!</div>
          <div class="invalid-feedback">Please Enter a valid Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="description"
            cols="50"
            rows="3"
            class="form-control"
            required
          >
<%=listing.description%></textarea
          >
          <div class="valid-feedback">Description Looks Good!</div>
          <div class="invalid-feedback">Please Enter a short Description</div>
        </div>
        <div class="mb-3">
          Original Lisiting image <br>
          <img src="<%=originalImageUrl%>">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-sm-6">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              name="listing[price]"
              id="price"
              value="<%=listing.price%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Price.</div>
          </div>
          <div class="mb-3 col-sm-6">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              id="location"
              value="<%=listing.location%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">Location Looks Good!</div>
            <div class="invalid-feedback">Please Enter a Location.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            value="<%=listing.country%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country Looks Good!</div>
          <div class="invalid-feedback">Please Enter a Country.</div>
        </div>
        <div class="mb-4 mt-4">
          <button class="btn btn-danger">Edit Listing</button>
        </div>
      </form>
    </div>
  </div>
</body>
