<% layout("layouts/boilerplate") -%>
<body>
  <div class="row mt-2">
    <div class="col-lg-12 d-flex justify-content-center">
      <div class="card w-75 listing-card">
        <h3>Place: <%=listing.title%></h3>
        <img src="<%= listing.image%>" class="card-img-top" alt="listing image" style="height: 25rem;">
        <div class="card-body p-2">
          <p class="card-text ">
            <div class="mt-1">
              <b> About place: </b><%=listing.description%> <br>
            </div>
            <div class="mt-1">
              <b>Price:  &#8377; <%=listing.price.toLocaleString("en-IN")%> / night</b> <br>
            </div>
            <div class="mt-1">
              <b>Location: </b><%=listing.location%> <br>
            </div>
            <div class="mt-1">
              <b>Country: </b><%= listing.country%>
            </div>
          </p>
  <div class="row mt-4 mb-4">
  <div class="col-12 d-flex justify-content-sm-start gap-2">
    <form method="get" action="/listings/<%=listing._id%>/edit">
      <button class="btn btn-danger">Edit</button>
    </form>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark">Delete</button>
    </form>
  </div>
</div>
        </div>
      </div>
    </div>
  </div>
</body>
